dist: trusty

language: c
env:
  global:
    - GAPROOT=gaproot
    - COVDIR=coverage

addons:
  apt:
    sources:
    - sourceline: 'deb ftp://jim.mathematik.uni-kl.de/repo/ubuntu14 trusty main'
      key_url: 'ftp://jim.mathematik.uni-kl.de/repo/extra/gpg'
    packages:
    - singular
    - libgmp-dev
    - libreadline-dev
    - zlib1g-dev

matrix:
  include:
    - env: CFLAGS="-O2"
    - env: CFLAGS="-O2" ABI=32
      addons:
        apt:
          sources:
          - sourceline: 'deb ftp://jim.mathematik.uni-kl.de/repo/ubuntu14 trusty main'
            key_url: 'ftp://jim.mathematik.uni-kl.de/repo/extra/gpg'
          packages:
          - singular
          - libgmp-dev:i386
          - libreadline-dev:i386
          - zlib1g-dev:i386
          - gcc-multilib
          - g++-multilib

branches:
  only:
    - master

before_script:
  - export GAPROOT="$HOME/gap"
  - scripts/build_gap.sh
script:
  - scripts/build_pkg.sh && scripts/run_tests.sh
after_script:
  - bash scripts/gather-coverage.sh
  - bash <(curl -s https://codecov.io/bash)
